body {
  font-family: "Plus Jakarta Sans";
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
.responsive-image {
  border-radius: 20px;
  max-width: 100%;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/author.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-weight: 800;
  font-size: 96px;
  line-height: 1.5;
  margin: 30px 0;
}

header h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5px;
  margin: 0;
}

header h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 1, 5;
  text-align: center;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 36px;
  background-color: #fb5c8d;
  color: white;
  text-decoration: none;
}

main {
  background-color: black;
}
main h2 {
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fb5c8d;
}
main h3 {
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.5;
  color: #f9f7fe;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f9f7fe;
  opacity: 0.7;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.7),
      rgba(39, 32, 68, 0.7)
    ),
    url(../images/footer-image.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 100px 0;
}
footer h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
}
footer p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
}
